// This file is an example.
// To run the application, rename this file to "env.js"
// and replace "YOUR_GEMINI_API_KEY" with your actual Google Gemini API key.

window.process = {
  env: {
    API_KEY: "YOUR_GEMINI_API_KEY",
  },
};
